<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My application</title>
    <link rel="stylesheet" href=Styles.css>
</head>
<body>
    <div class="FullPicture">
        <div class="head">
            <H1>Wehelp申請書</H1>
        </div>
        <p class="frame1">兩百字個人簡介</p>
        <div>
            <p class="content">彭彭老師你好，我叫Isaac, 今年32歲，
                是一個澳門人，法律系畢業，目前正在社會福利機構擔任活動協調員一職，
                主要負責對機構內活動籌備作出協助。在出社會也將近有十年的時間裡，
                我就像盲頭蒼蠅一樣不停地東奔西走，很多不同的工作⋯⋯在各種工作的經驗中，
                我似乎無法找到人生的方向，我開始思考，我自己究竟想成為怎麼樣的人，
                直到我了解到編寫程式這一個領域，我好像找到我繼續前進的方向，
                除了程序員的薪金比較高外，
                我更嚮往能以自己的能力創做一些可以實際運行的產品，我想試一試，
                所以我選擇報讀你的課程。</p>
        </div>
        <p class="frame1">為了成為軟體工程師，做過什麼努力？若有具體作品請分享給我們。</p>
        <div>
            <p class="content">透過觀看彭老師的影片，我對HTML/CSS/Javascript 都有一些初入 門的了解，也學會了建立flask 伺服器和 使用mysql的數據庫，但無奈接觸的日期有限的，
                很多知識點看似 掌握了，但要具體做出一個像樣的作品，對我來說還是有些難度。</p>
        </div>
        <p class="frame1">如果參與這個計畫，會怎麼安排學習時間？</p>
        <div>
            <p class="content">除了把上班以外的時間都拿來學習外，上班時我也可以擠到一些學習的時間，
                原因是最近機構希望製作一個會員系統，由於想從中學習，所以我自告奮用地接下了這項工作，在上班時間內我有一定自由的時間能夠學習。
                </p>
        </div>
        <p class="frame1">是否有想要加入的軟體公司？為什麼想加入該公司？</p>
        <div>
            <p class="content">暫時沒有想要加入的公司，因為如果我會編寫程序，我有一些想法想要實行，我的目標是想開發一個比較特別的旅游網站。</p>
        </div>
        <p class="frame1">請描述一件產生明顯負面情緒的經歷，如何處理該情緒？</p>
        <div>
            <p class="content">最近每當我仔細思考有關自己將來的路時，負面情緒總會浮現，壓力就一顆大石一樣壓得根本踹不過氣，所以我也積極的不斷嘗試找出自己想要前進的方向，努力的向前，這就是我面對負面情緒的方法。</p>
        </div>
    </div>
</body>
</html>